/*body*/
a  {
  text-decoration: none !important;
}

body {
  background-color: black;
}

.row {
  position: relative;
  top: 100px;
}
/*body*/




/*nav*/
.navBar {
  width: 100vw;
  height: 80px;
  border: none;
  background-color: rgba(20, 20, 20, 0.7);
  position: fixed;
  z-index: 10000;
  top: -10px;
}

.myBrand {
  font-size: 32px;
  transition: all 0.5s ease;
  position: absolute;
  left: 12px;
  top: 25px;
}

.myBrand:hover {
  color: white !important;
  transition: all 0.5s ease;
  text-decoration: none;
}

.myDiary {
  position: absolute;
  top: 36px;
  left: 150px;
}

.navBar ul {
  position: absolute;
  right: 20px;
  top: 36px;
}

.navBar li {
  display: inline;
  margin-right: 8px;
}

.navBar a {
  color: lightgrey !important;
  display: inline-block;
  transition: all 0.2s ease;
  height: 50px;
}

.navBar a:hover {
  color: white !important;
  transition: all 0.2s ease;
  text-decoration: none;
}

.navbar button {
  border: none;
  transition: all 0.5s ease;
}




/*hamburger*/
#nav-icon {
  	width: 30px;
  	height: 20px;
  	position: fixed;
	  top: 25px;
  	margin-left: -15px;
	  left: 95%;
    z-index: 1001 !important;
    display: none;
}

#nav-icon:hover {
	width: 32px;
	left: 94.8%;
	transition: all 0.1s ease;
	cursor: pointer;
}

#nav-icon:hover span {
	background-color: white;
}

#nav-icon span {
	display: block;
 	position: absolute;
 	height: 2px;
 	width: 100%;
  	background-color: lightgrey;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	transition: .25s ease-in-out;
}

#nav-icon.normal #span1 {
  	top: 0px;
}

#nav-icon.normal #span2 {
  	top: 10px;
}

#nav-icon.normal #span3 {
  	top: 20px;
}

#nav-icon.x #span1 {
  	top: 10px;
  	transform: rotate(135deg);
}

#nav-icon.x #span2 {
  	opacity: 0;
  	left: 60px;
	  top: 15px;
}

#nav-icon.x #span3 {
  	top: 10px;
  	transform: rotate(-135deg);
}
/*hamburger*/






/*navshowing*/
.navSlide {
  width: 100vw;
  position: absolute;
  top: 70px;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 1000;
}

.slideUl {
  position: relative;
  left: -5%;
  display: block;
  text-align: center;
}

.slideLi {
  text-align: center;
  list-style: none;
}

.slideLi a {
  color: lightgrey;
}

.slideLi a:hover {
  text-decoration: none;
  color: white;
}

.navSlide.ng-hide-remove {
  animation: 0.3s fadeIn ease;
}

.navSlide.ng-hide-add {
  animation: 0.3s fadeOut ease;
}
/*navshowing*/
/*nav*/












/*forms*/
.formPage {
  background-color: white;
}

.formPage button {
  margin-bottom: 24px;
}

.changePass {
  width: 80vw;
  left: 10vw;
}
/*forms*/












/*home*/
.bigImg {
  position: fixed;
  min-height: 100vh;
  width: 50vw;
  top: 70px;
  z-index: 0;
  opacity: 0.8;
}

.homeContainer {
  position: relative;
  left: 0px;
  top: -30px;
}

.wordsContainer {
  position: relative;
  left: 50vw;
  width: 50vw;
}

.wordsContainer h1 {
  font-family: "Alex Brush", cursive;
  color: white;
  position: relative;
  top: 100px;
  left: 5%;
  width: 95%;
}

.wordsContainer a {
  color: darkorange;
  transition: all 0.3s ease;
}

.wordsContainer a:hover {
  color: orange;
  transition: all 0.3s ease;
}

.signed {
  text-align: right;
}

.wordsContainer p {
  font-family: serif;
  color: white;
  position: relative;
  font-size: 24px;
  top: 100px;
  left: 5%;
  max-width: 85%;
}

.homeBtn {
  position: relative;
  top: 50px;
  left: 5%;
}

.homeBtn.ng-hide-remove{
  animation: 0.5s waitIn ease;
}


.findABeer {
  position: relative;
  top: 50px;
  left: 5%;
}

.findABeer.ng-hide-remove {
  animation: 0.5s flipInX ease;
}
/*home*/



/*userBeers*/
.userBeerCard {
  width: 80vw;
  position: relative;
  top: 100px;
  left: 10vw;
}

.userLeftWrapper {
  width: 50%;
  position: relative;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 1px;
}

.userRightWrapper {
  position: absolute;
  top: 0px;
  width: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.userRightWrapper.ng-hide-remove {
  animation: flipInX 0.5s ease;
}

.userRightWrapper.ng-hide-add {
  animation: flipOutX 0.5s ease;
}

.notes {
  position: relative;
  left: 40vw;
  width: 100px;
  margin-left: -100px;
  color: teal;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.addYourOwn {
  color: grey;
  transition: all 0.2s ease;
}

.userForm.ng-hide-remove {
  animation: fadeIn 0.5s ease;
}

.closer {
  color: grey;
  transition: all 0.2s ease;
}

.addYourOwn:hover {
  color: teal;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.closer:hover {
  color: teal;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.notes:hover {
  color: grey;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.notesSpan.ng-hide-remove {
  animation: fadeIn 0.5s ease;
}

.notesSpan.ng-hide-add {
  animation: fadeOut 0.5s ease;
}

.userEdit {
  color: grey;
  transition: all 0.2s ease;
}

.userEdit:hover {
  color: teal;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.closeUser {
  color: grey;
  transition: all 0.2s ease;
}

.closeUser.ng-hide-remove {
  animation: waitIn 0.5s ease;
}

.closeUser:hover {
  color: teal;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.0s ease;
}

.userBeerCard img{
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  width: auto;
  display: block;
}
/*userbeers*/









/*cards*/
.responses {
  position: absolute;
  top: 80px;
  left: 10vw;
  width: 30vw;
}

.beerCard {
  position: relative;
  width: 100%;
  margin-top: 20px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.beerCard img {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 15vw;
  display: block;
}

.moreButton {
  color: darkorange;
  transition: all 0.3s linear;
}

.moreButton:hover {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s linear;
}

.error {
  color: red;
  display: block;
  border: 1px solid red;
}


.moreText {
  font-size: 12px;
}

.moreBeers button {
  margin-bottom: 12px;
}

/*cards*/








/*admin*/
.adminContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}


.adminFilter {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50vw;
  top: 100px;
}

.beersListedResponse {
  position: relative;
  top: 150px;
  max-width: 80vw;
  left: 10vw;
  color: lightgrey;
}

.beersListedResponse button, input {
  color: black;
}

.usersListedResponse {
  position: relative;
  top: 150px;
  max-width: 80vw;
  left: 10vw;
  color: lightgrey;
}

.usersListedResponse button, input {
  color: black;
}




/*animations*/
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 0.8;
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipOutX {
  0% {
    opacity: 1;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 0.5;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 0;
  }
}

@keyframes waitIn {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    transition-timing-function: ease-in;
    display: none;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 0.8;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}
/*animations*/



/*mediaqueries*/
@media (max-width: 950px){
  .onTheBar {
    display: none;
  }

  #nav-icon {
    display: block;
  }

  .bigImg {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    top: 70px;
    z-index: 0;
    opacity: 0.8;
  }

  .wordsContainer {
    position: relative;
    left: 0vw;
    width: 100vw;
  }

  .wordsContainer h1 {
    font-family: "Alex Brush", cursive;
    color: white;
    position: relative;
    top: 100px;
    left: 5%;
    max-width: 95%;
  }

  .wordsContainer p {
    font-family: serif;
    color: white;
    position: relative;
    font-size: 16px;
    top: 100px;
    left: 5%;
    max-width: 85%;
  }

  .homeBtn {
    position: relative;
    top: 50px;
    left: 5%;
  }

  .findABeer {
    position: relative;
    top: 50px;
    left: 5%;
  }

  .responses {
    position: static;
    margin-top: 50px;
    left: 15vw;
    width: 60vw;
  }

  .beerCard {
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
  }


  .moreButton {
    color: darkorange;
    transition: all 0.3s linear;
  }

  .moreButton:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .error {
    color: red;
    display: block;
    border: 1px solid red;
  }


  .moreText {
    font-size: 12px;
  }

  .moreBeers button {
    margin-bottom: 12px;
  }
}

@media (min-width: 950px){
  .navSlide {
    display: none;
  }

  #nav-icon {
    display: none;
  }
}


/*mediaqueries*/
