/*body*/
body {
  background: url("components/img/pawel-kadysz-90225.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a  {
  text-decoration: none !important;
}
/*body*/




/*nav*/
.navBar {
  width: 100vw;
  height: 80px;
  border: none;
  background-color: rgba(20, 20, 20, 0.7);
  position: relative;
  top: -10px;
}

.myBrand {
  font-size: 32px;
  transition: all 0.5s ease;
  position: absolute;
  left: 12px;
  top: 25px;
}

.myBrand:hover {
  color: white !important;
  transition: all 0.5s ease;
  text-decoration: none;
}

.myDiary {
  position: absolute;
  top: 36px;
  left: 150px;
}

.navBar ul {
  position: absolute;
  right: 20px;
  top: 36px;
}

.navBar li {
  display: inline;
  margin-right: 8px;
}

.navBar a {
  color: lightgrey !important;
  display: inline-block;
  transition: all 0.2s ease;
  height: 50px;
}

.navBar a:hover {
  color: white !important;
  transition: all 0.2s ease;
  text-decoration: none;
}

.navbar button {
  border: none;
  transition: all 0.5s ease;
}




/*hamburger*/
#nav-icon {
  	width: 30px;
  	height: 20px;
  	position: fixed;
	  top: 25px;
  	margin-left: -15px;
	  left: 95%;
    z-index: 1001 !important;
    display: none;
}

#nav-icon:hover {
	width: 32px;
	left: 94.8%;
	transition: all 0.1s ease;
	cursor: pointer;
}

#nav-icon:hover span {
	background-color: white;
}

#nav-icon span {
	display: block;
 	position: absolute;
 	height: 2px;
 	width: 100%;
  	background-color: lightgrey;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	transition: .25s ease-in-out;
}

#nav-icon.normal #span1 {
  	top: 0px;
}

#nav-icon.normal #span2 {
  	top: 10px;
}

#nav-icon.normal #span3 {
  	top: 20px;
}

#nav-icon.x #span1 {
  	top: 10px;
  	transform: rotate(135deg);
}

#nav-icon.x #span2 {
  	opacity: 0;
  	left: 60px;
	  top: 15px;
}

#nav-icon.x #span3 {
  	top: 10px;
  	transform: rotate(-135deg);
}
/*hamburger*/

/*navshowing*/
.navSlide {
  width: 100vw;
  position: absolute;
  top: 70px;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 1000;
}

.slideUl {
  position: relative;
  left: -5%;
  display: block;
  text-align: center;
}

.slideLi {
  text-align: center;
  list-style: none;
}

.slideLi a {
  color: lightgrey;
}

.slideLi a:hover {
  text-decoration: none;
  color: white;
}



.navSlide.ng-hide-remove {
  animation: 0.3s fadeIn ease;
}

.navSlide.ng-hide-add {
  animation: 0.3s fadeOut ease;
}
/*navshowing*/

/*nav*/


/*forms*/
.formPage {
  background-color: white;
}

.formPage button {
  margin-bottom: 24px;
}
/*forms*/


/*home*/
.homeContainer {
  background-color: rgba(20, 20, 20, 0.4);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  left: 0px;
  top: -30px;
}

.homeContainer h1 {
  font-family: "Alex Brush", cursive;
  color: white;
  position: relative;
  top: 36px;
  left: 10%;
}

.homeContainer p {
  font-family: serif;
  color: white;
  position: relative;
  font-size: 30px;
  top: 36px;
  left: 15%;
  max-width: 70%;
}

.signed {
  position: relative;
  left: 70% !important;
}

.homeBtn {
  position: relative;
  top: 60px;
  left: 10%;
}

.homeBtn.ng-hide-remove{
  animation: 0.5s waitIn ease;
}


.findABeer {
  position: relative;
  top: 60px;
  width: 60vw;
  left: 10%;
}

.findABeer.ng-hide-remove {
  animation: 0.5s flipInX ease;
}
/*home*/



/*cards*/
.beerCard {
  width: auto;
  height: auto;
  background-color: white;
}






/*animations*/
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 0.8;
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipOutX {
  0% {
    opacity: 1;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 0.5;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 0;
  }
}

@keyframes waitIn {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    transition-timing-function: ease-in;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 0.8;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}
/*animations*/



/*mediaqueries*/
@media (max-width: 950px){
  .onTheBar {
    display: none;
  }

  #nav-icon {
    display: block;
  }
}

@media (min-width: 950px){
  .navSlide {
    display: none;
  }

  #nav-icon {
    display: none;
  }
}

@media (max-width: 600px){
  .homeContainer p {
    font-family: serif;
    color: white;
    position: relative;
    font-size: 16px;
    top: 36px;
    left: 5%;
    max-width: 90%;
  }

  .signed {
    position: relative;
    left: 75% !important;
  }
}

/*mediaqueries*/
